
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h2>Index</h2>
    <br />
    <br />
    <h3>Search for hotels</h3>
    <input type="text" class="form-control" placeholder="hotel name"/>
    <button class="btn">Search</button>
</div>

